<br>
<div class="container">
  <div class="row justify-content-around">
    <div class="ctn-steps step0  col-md-9">
      <div class="container">
        <div class="row" >
          <div class="col-sm-12" >
            <button style="width: 100px; float: right; margin-right: 18px;" class="btn btn-outline-primary" routerLink="/inicio"><span><i class="fa fa-reply" aria-hidden="true"></i></span> Volver</button>
            </div>
        </div>

        <div class="card mb-3" style="border: 0px;" >
          <div class="row">
            <div class="col-sm-2" style="width: 90px !important;">
              <img src="./assets/images/con_denunciado_icon.svg" class="card-img" style="width: 80px;">
            </div>
            <div class="col-sm-8" >
                <div class="card-body" style="padding-left: 0px;">
                <h5 class="card-title">Consulta por denunciado</h5>
                <p class="card-text">Realice la búsqueda por el denunciado.</p>
              </div>

            </div>
            <div class="col-sm-2" >
              </div>
          </div>
        </div>


        <tabset #titularTabs>
          <tab heading="Persona Natural" id="tab1" class="pt-3" (selectTab)="onSelect($event,1)">
            <form [formGroup]="frmPnatural">
              <div class="form-group">
                <label for="exampleInputEmail1" class="font-weight-bold font-mb" data-toggle="tooltip">Nombres (*):
                  <app-tooltip _tooltip="Coloque por lo menos un nombre, se recomienda escribirlo como en su DNI.">
                  </app-tooltip>
                </label>
                <input type="text" class="input_style" placeholder="Ingrese nombres de la persona"
                  [ngClass]="{'is-invalid': (frmPnatural.controls.nombres.invalid && (frmPnatural.controls.nombres.dirty || frmPnatural.controls.nombres.touched))}"
                  formControlName="nombres" minlength="3" maxlength="250">
                <div class="invalid-feedback font-mr"
                  *ngIf="frmPnatural.controls.nombres.invalid && (frmPnatural.controls.nombres.dirty || frmPnatural.controls.nombres.touched)">
                  Ingrese nombres de la persona.
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="font-weight-bold font-mb" data-toggle="tooltip">Apellidos (*):
                  <app-tooltip
                    _tooltip="Coloque por lo menos un apellido, para tener una búsqueda más precisa escriba los dos apellidos.">
                  </app-tooltip>
                </label>
                <input type="text" class="input_style" placeholder="Ingrese apellidos de la persona"
                  [ngClass]="{'is-invalid': (frmPnatural.controls.apellidos.invalid && (frmPnatural.controls.apellidos.dirty || frmPnatural.controls.apellidos.touched))}"
                  formControlName="apellidos" minlength="2" maxlength="250">
                <div class="invalid-feedback font-mr"
                  *ngIf="frmPnatural.controls.apellidos.invalid && (frmPnatural.controls.apellidos.dirty || frmPnatural.controls.apellidos.touched)">
                  Ingrese apellidos de la persona.
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="font-weight-bold font-mb" data-toggle="tooltip">Denominación / Marca:
                  <app-tooltip _tooltip="Para hacer una búqueda más precisa ingrese alguna marca que tenga a su nombre.">
                  </app-tooltip>
                </label>
                <input type="text" class="input_style" placeholder="Ingrese denominación o marca"
                  [ngClass]="{'is-invalid': (frmPnatural.controls.denominacion.invalid && (frmPnatural.controls.denominacion.dirty || frmPnatural.controls.denominacion.touched))}"
                  formControlName="denominacion" maxlength="250">
                <div class="invalid-feedback font-mr"
                  *ngIf="frmPnatural.controls.denominacion.invalid && (frmPnatural.controls.denominacion.dirty || frmPnatural.controls.denominacion.touched)">
                  Ingrese denominación o marca.
                </div>
              </div>
              <div class="row">
                <div class="col-sm text-left text-muted font-mm">
                  (*) Los campos son obligatorios.
                </div>
              </div>
              <div class="row">
                <div class="col-sm text-center">
                  <br>
                  <button type="submit" class="btn btn-success font-mb" [disabled]="frmPnatural.invalid"
                    (click)="buscarTitulares()"><span style="margin-right: 5px;"><i
                        class="fas fa-search"></i></span>Buscar</button>
                  <button type="submit" class="btn btn-secondary font-mb ml-1" (click)="limpiarPersonaNatural()"><span
                      style="margin-right: 5px;"><i class="fas fa-redo-alt"></i></span>Limpiar</button>
                      <br>
                </div>
              </div>
            </form>
          </tab>

          <tab heading="Persona Jurídica" id="tab2" class="pt-3" (selectTab)="onSelect($event,2)">
            <form [formGroup]="frmPjuridica">
              <div class="form-group">
                <label for="exampleInputEmail1" class="font-weight-bold font-mm" data-toggle="tooltip">Razón Social (*):
                  <app-tooltip
                    _tooltip="Escriba la parte más representativa del nombre de la empresa, se sugiere no incluir las siglas para tener un resultado más preciso.">
                  </app-tooltip>
                </label>
                <input type="text" class="input_style" placeholder="Ingrese razón social"
                  [ngClass]="{'is-invalid': (frmPjuridica.controls.rsocial.invalid && (frmPjuridica.controls.rsocial.dirty || frmPjuridica.controls.rsocial.touched))}"
                  formControlName="rsocial" maxlength="250">
                <div class="invalid-feedback font-mr"
                  *ngIf="frmPjuridica.controls.rsocial.invalid && (frmPjuridica.controls.rsocial.dirty || frmPjuridica.controls.rsocial.touched)">
                  Ingrese razón social.
                </div>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1" class="font-weight-bold font-mm" data-toggle="tooltip">Denominación / Marca:
                  <app-tooltip _tooltip="Para hacer una búqueda más precisa ingrese alguna marca que tenga a su nombre.">
                  </app-tooltip>
                </label>
                <input type="text" class="input_style" placeholder="Ingrese denominación o marca"
                  [ngClass]="{'is-invalid': (frmPjuridica.controls.denominacion.invalid && (frmPjuridica.controls.denominacion.dirty || frmPjuridica.controls.denominacion.touched))}"
                  formControlName="denominacion" maxlength="250">
                <div class="invalid-feedback font-mr"
                  *ngIf="frmPjuridica.controls.denominacion.invalid && (frmPjuridica.controls.denominacion.dirty || frmPjuridica.controls.denominacion.touched)">
                  Ingrese razón social.
                </div>
              </div>
              <div class="row">
                <div class="col-sm text-left text-muted font-mm">
                  (*) Los campos son obligatorios.
                </div>
              </div>
              <div class="row">
                <div class="col-sm text-center">
                  <br>
                  <button type="submit" class="btn btn-success font-mb" [disabled]="frmPjuridica.invalid"
                    (click)="buscarTitulares()"><span style="margin-right: 5px;"><i
                        class="fas fa-search"></i></span>Buscar</button>
                  <button type="submit" class="btn btn-secondary font-mb ml-1" (click)="limpiarPersonaJuridica()"><span
                      style="margin-right: 5px;"><i class="fas fa-redo-alt"></i></span>Limpiar</button>
                      <br>
                </div>
              </div>
            </form>
          </tab>
        </tabset>


      </div>
    </div>
  </div>
</div>
<br>

<div class="container-fluid d-print-none">
  <!-- Seccion de busqueda -->
  <ng-container *ngIf="isShowTable">
    <!-- Mensaje -->
    <div class="row">
      <div class="col-sm font-mr">
        <div *ngIf="lstTitulares.length < 200; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>Se encontraron {{lstTitulares.length}} resultados.</ng-template>
        <ng-template #elseBlock>
          <small class="text-muted">Se muestran los 200 registros con mayor aproximación a la denominación
            ingresada.</small>
        </ng-template>
      </div>
    </div>
    <!-- Mensaje -->

    <!-- Acciones -->
    <div class="row text-right">
      <div class="col-sm-12">
        <div *ngIf="lstTitulares.length > 0; then thenBlock_a else elseBlock_a"></div>
        <ng-template #thenBlock_a>
            <!-- <button type="button" class="btn btn-light" style="margin-right: 3px;" (click)="doCargarFiltros()"
            tooltip="Filtrar">
            <span style="font-size: 1em; color: green">
              <i class="fa fa-filter" aria-hidden="true"></i>
            </span>
             </button> -->

            <button type="button" class="btn btn-light" style="margin-right: 3px;" (click)="getDescargarTitularesExcel()"
            tooltip="Export titulares">
            <span style="font-size: 1em; color: green">
              <i class="fa fa-file-excel-o" aria-hidden="true"></i>
            </span>
            </button>

        </ng-template>
        <ng-template #elseBlock_a>
        </ng-template>
      </div>
    </div>
    <!-- Acciones -->

    <!-- Tabla de busqueda -->
    <div class="row">
      <div class="col-sm-12">
        <div *ngIf="lstTitulares.length > 0; then thenBlock_b else elseBlock_b"></div>
        <ng-template #thenBlock_b>
          <div class="row">
            <div class="col-sm-12" style="margin-top: 10px; margin-bottom: 10px; margin-right: 15px;">
            <span  *ngFor="let item of lstFiltroProcedimiento; let row = index" id="{{row}}" >
              <button class="btn btn-lg btn-success" style="font-size: 9px; width: auto; background: #4e4e4e; height: 30px; border-color: #9b9b9b; padding: 5px;" *ngIf="item.blSelected">
              <span class="pull-left">{{item.vcTipoProcedimiento}} ({{item.nuCantidad}}) </span>
              <i class="fa fa-times-circle pull-right" aria-hidden="true" style="margin-top: 2px; font-size: 13px;" (click)="doQuitaFiltroProcedimiento(row)"></i>
              </button>
           </span>

           <span *ngFor="let item of lstFiltroClases; let row = index" id="{{row}}">
            <button class="btn btn-lg btn-success" style="font-size: 9px; width: auto; background: #4e4e4e; height: 30px; border-color: #9b9b9b; padding: 5px;"  *ngIf="item.blSelected">
            <span class="pull-left">{{item.nuClase}} ({{item.nuCantidad}}) </span>
            <i class="fa fa-times-circle pull-right" aria-hidden="true" style="margin-top: 2px; font-size: 13px;"  (click)="doQuitaFiltroClase(row)"></i>
            </button>
         </span>
        </div>
          </div>

          <!-- <div class="table-responsive-sm"> -->
            <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr class="font-mb">
                  <th scope="col">#</th>
                  <th scope="col">Denunciado</th>
                  <th scope="col">Pais</th>
                  <th scope="col"></th>
                  <!-- <th scope="col"></th> -->
                </tr>
              </thead>
              <tbody *ngFor="let item of lstTitulares; let row = index" id="{{row}}">
                <tr  class="row-hover">
                  <th>{{row + 1}}</th>
                  <td style="text-align: left;">{{item.vcTitular}}</td>
                  <td>{{item.vcIdPais}}</td>
                  <td (click)="showOne(row)" style="cursor:pointer;">
                      <div *ngIf="lstSelectTitulares[row].blView" >
                        <i class="fas fa-chevron-up"></i>
                      </div>
                      <div (click)="doExpedienteXTitular(item.vcTitular, row)" *ngIf="!lstSelectTitulares[row].blView">
                        <i class="fas fa-chevron-down"></i>
                      </div>
                  </td>
                  <!-- <td  style="cursor:pointer;color: #198754"><i class="fa fa-pie-chart" aria-hidden="true" (click)="getEstadistica(item)"></i></td> -->
                </tr>

                <tr *ngIf="lstSelectTitulares[row].blView">
                  <td colspan="4" style="padding: 0px;">
                    <div *ngIf="lstSelectTitulares[row].blLoad && !item.lstExpedienteTitular"
                     class="spinner-border text-success " style="margin-top: 10px;" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    <div class="table-responsive" *ngIf="item?.lstExpedienteTitular?.length>0">
                      <table class="table table-bordered table-sm" style="font-size: 12px;">
                        <thead>
                          <tr class="font-mb">
                            <th scope="col">
                              <button type="button" class="btn btn-light"  tooltip="Exportar" (click)="getDescargaExcel(item)">
                              <span style="font-size: 1em; color: green;">
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                              </span>
                              </button>
                            </th>
                            <th scope="col">Marca</th>
                            <th scope="col">Número de expediente</th>
                            <th scope="col">Tipo de Procedimiento</th>
                            <th scope="col">Fecha de presentación</th>
                            <th scope="col">Tipo de signo distintivos</th>
                            <th scope="col">Clase</th>
                            <th scope="col">Vigencia</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let item2 of item.lstExpedienteTitular  | paginate: { itemsPerPage: 10, currentPage: p[row], id: item.nuFila}; let row2 = index" >

                          <tr  class="row-hover">
                            <th>{{item2.nuLinea}}</th>
                            <td style="text-align: left; max-width:100px;">
                              <span *ngIf="item2?.vcLogo==null">{{item2.vcDenominacion}}</span>
                              <img *ngIf="item2?.vcLogo!=null" [src]="item2.vcLogo" style="max-width: 80px; max-height: 80px;"/>

                            </td>
                            <td class="text-center">
                              <button type="button" class="btn btn-outline-default waves-effect" style="color: #65bd42; font-weight: 500;"
                              tooltip="Detalle del Expediente"
                              (click)="doBuscarExpedienteDetalle(item2)"
                              >
                              <i class="fas fa-search pr-2" aria-hidden="true"></i>
                              <span style="text-decoration-line: underline;">{{item2.vcNroExpediente}}-{{item2.nuAnioExpediente}}</span>
                            </button>
                            </td>
                            <td style="text-align: left;">{{item2.vcTipoProcedimiento}}</td>
                            <td>{{item2.vcFechaPresentacion}}</td>
                            <td>{{item2.vcTipoSolicitud}}</td>
                            <td>{{item2.nuClase}}</td>
                            <td>{{item2.vcFechaExpiracion}}</td>
                          </tr>
                        </tbody>
                      </table>
                      <pagination-controls
                      [responsive]="true"
                      previousLabel="Atras"
                      nextLabel="Siguiente"
                      (pageChange)="p[row] = $event"
                      [id]="item.nuFila"
                      style="font-size: 12px;"
                      >
                    </pagination-controls>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-sm text-center">
              <button type="submit" class="btn btn-outline-primary font-mb"
               style="margin-bottom: 15px;"
               (click)="doVerMas()"
               *ngIf="!nuOcultarBoton">
                    Ver más</button>
            </div>
          </div>
        </ng-template>
        <ng-template #elseBlock_b>
        </ng-template>
      </div>
    </div>
    <!-- Tabla de busqueda -->

  </ng-container>
  <!-- Seccion de busqueda -->
</div>


<ng-template #_modalFiltro>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Filtrar los datos cargados</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <b>Por tipo de procedimieno</b>
      </div>
    </div>

    <div class="row" *ngFor="let item of lstFiltroProcedimiento; let row = index">
      <div class="col-sm-12">
       <span> <input type="checkbox" [checked]="item.blSelected" (change)="doSeleccionarFiltroTipoProcedimiento(row)" /> </span> {{item.vcTipoProcedimiento}} ({{item.nuCantidad}} <span *ngIf="item.nuCantidad==1">Registro</span> <span *ngIf="item.nuCantidad!=1">Registros</span>)
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12">
        <b>Por clases</b>
      </div>
    </div>

    <div class="row" *ngFor="let item of lstFiltroClases; let row = index">
      <div class="col-sm-12">
        <span> <input type="checkbox" [checked]="item.blSelected" (change)="doSeleccionarFiltroClases(row)"/> </span> {{item.nuClase}} ({{item.nuCantidad}} <span *ngIf="item.nuCantidad==1">Registro</span> <span *ngIf="item.nuCantidad!=1">Registros</span>)
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12" style="text-align: center;">
        <button type="button" class="btn btn-success" (click)="filtrarListaTitulares()">Filtrar</button>
      </div>
    </div>

  </div>
</ng-template>

<ng-template #_modal_exp_detalle>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Detalle del expediente</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <tabset #staticTabs>
        <tab heading="Seguimientos del procedimiento">
          <div class="table-responsive">
            <table class="table" style="font-size: 11px;">
              <thead>
                <tr class="font-mb">
                  <th>#</th>
                  <th style="width: 120px;">Fecha</th>
                  <th>Seguimiento</th>
                </tr>
              </thead>
              <tbody *ngFor="let item of objDetalleExpediente?.lstSeguimiento  let row = index " >
                <tr  class="row-hover">
                  <th>{{row + 1}}</th>
                  <td>{{item.vcFechaSeguimiento}}</td>
                  <td style="text-align: left;">{{item.vcSeguimiento}}
                    <span *ngIf="item.vcInformativo!=null" class="toopltip" [popover]="item.vcInformativo"  triggers="mouseenter:mouseleave">
                    </span>
                   </td>
                </tr>
              </tbody>
            </table>

          </div>
        </tab>
        <tab heading="Datos solicitud y registro" *ngIf="objDetalleExpediente?.objDatoExpediente?.vcIdTipoExpediente!=null && objDetalleExpediente?.objDatoExpediente?.vcIdTipoExpediente!=''">
          <div class="table-responsive" style="font-size: 11px;">
            <table class="table table-hover" id="job-table">
              <thead>
                <tr>
                  <th scope="col" colspan="4" style="color: beige; background-color: #65BD42;">Expediente Nro: {{objDetalleExpediente?.objDatoExpediente?.vcIdExpediente}} - {{objDetalleExpediente?.objDatoExpediente?.nuAnioExpediente}}</th>
                </tr>
              </thead>
              <tbody class="tableBody">
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Tipo de Expediente:</td>
                      <td >{{objDetalleExpediente?.objDatoExpediente?.vcIdTipoExpediente}}</td>
                      <td></td>
                      <td class="font-weight-bold"></td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Fecha de presentación:</td>
                      <td>{{objDetalleExpediente?.objDatoExpediente?.vcFechPresentacion}}</td>
                      <td class="font-weight-bold" style="text-align: left !important;">Hora de presentación:</td>
                      <td >{{objDetalleExpediente?.objDatoExpediente?.vcHoraPresentacion}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Lugar de presentación:</td>
                      <td>{{objDetalleExpediente?.objDatoExpediente?.vcLugar}}</td>
                      <td></td>
                      <td class="font-weight-bold"></td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Procedimiento:</td>
                      <td>{{objDetalleExpediente?.objDatoExpediente?.vcProd}}</td>
                      <td></td>
                      <td class="font-weight-bold"></td>
                    </tr>
                    <tr *ngIf="objDetalleExpediente?.objDatoExpediente?.vcIdTipExpediente=='01'">
                      <td class="font-weight-bold" style="text-align: left !important;">
                        <div *ngIf="objDetalleExpediente?.objDatoExpediente?.vcFechaPublicacion!=null && objDetalleExpediente?.objDatoExpediente?.vcFechaPublicacion!=' '">Publicado en Gaceta:</div>

                      </td>
                      <td>{{objDetalleExpediente?.objDatoExpediente?.vcFechaPublicacion}}</td>
                      <td></td>
                      <td class="font-weight-bold"></td>
                    </tr>

                    <tr *ngIf="objDetalleExpediente?.objDatoExpediente?.vcIdTipExpediente=='03'">
                      <td class="font-weight-bold" style="text-align: left !important;">Tipo de acto</td>
                      <td>{{objDetalleExpediente?.objDatoExpediente?.vcTipoActo}}</td>
                      <td></td>
                      <td class="font-weight-bold"></td>
                    </tr>

              </tbody>
            </table>

            <table class="table table-hover" id="job-table">
              <thead>
                <tr>
                  <th scope="col" colspan="4" style="color: beige; background-color: #65BD42; width: 100%;">Datos de la Marca</th>
                </tr>
              </thead>
              <tbody class="tableBody">
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Tipo de solicitud:</td>
                      <td colspan="3" >{{objDetalleExpediente?.objDatoExpediente?.vcTipoSolicitud}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Fecha de solicitud:</td>
                      <td>{{objDetalleExpediente?.objDatoExpediente?.vcFechaSolicitud}}</td>
                      <td class="font-weight-bold" style="text-align: left !important;">Fecha de registro:</td>
                      <td >{{objDetalleExpediente?.objDatoExpediente?.vcFechaRegistro}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Nro. de Certificado:</td>
                      <td>{{objDetalleExpediente?.objDatoExpediente?.vcNroCertificado}}</td>

                      <td class="font-weight-bold" style="text-align: left !important;"
                      *ngIf="objDetalleExpediente?.objDatoExpediente?.vcIdTipExpediente=='01'" >
                     <div *ngIf="objDetalleExpediente?.objDatoExpediente?.vcFechaPublicacion!=' ' && objDetalleExpediente?.objDatoExpediente?.vcFechaPublicacion!=null">Fecha de publicación:</div>
                    </td>
                      <td *ngIf="objDetalleExpediente?.objDatoExpediente?.vcIdTipExpediente=='01'"
                      >
                      <div>{{objDetalleExpediente?.objDatoExpediente?.vcFechaPublicacion}}</div>
                    </td>

                      <td class="font-weight-bold" style="text-align: left !important;"
                      *ngIf="objDetalleExpediente?.objDatoExpediente?.vcIdTipExpediente!='01'" ></td>
                      <td *ngIf="objDetalleExpediente?.objDatoExpediente?.vcIdTipExpediente!='01'"></td>

                    </tr>

                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Fecha de vencimiento:</td>
                      <td colspan="3">{{objDetalleExpediente?.objDatoExpediente?.vcFechaVencimiento}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Tipo de presentación:</td>
                      <td colspan="3">{{objDetalleExpediente?.objDatoExpediente?.vcTipoPresentacion}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Nro. de clase:</td>
                      <td colspan="3">{{objDetalleExpediente?.objDatoExpediente?.vcClaseNiza}}</td>
                    </tr>

                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Denominacion:</td>
                      <td colspan="3">{{objDetalleExpediente?.objDatoExpediente?.vcDenominacion}}</td>
                    </tr>

              </tbody>
            </table>

            <table class="table table-hover" id="job-table">
              <thead>
                <tr>
                  <th scope="col" colspan="6" style="color: beige; background-color: #65BD42; width: 100%;">Personas Juridicas/Naturales</th>
                </tr>
                <tr>
                  <th scope="col" >Tipo de persona</th>
                  <th scope="col" >Titular / Solicitante</th>
                  <th scope="col"  >Tipo de documento</th>
                  <th scope="col"  >RUC / DNI / LE</th>
                  <th scope="col" >Domicilio procesal </th>
                </tr>
              </thead>
              <tbody class="tableBody" *ngFor="let item of lstPersonas  let row = index " >
                    <tr>
                      <td>{{item.vcTipoPersona}}</td>
                      <td>{{item.vcPersona}}</td>
                      <td>{{item.vcTipoDocumento}}</td>
                      <td>{{item.vcDocumento}}</td>
                      <td>{{item.vcDomicilioProcesal}}</td>

                    </tr>
                    <tr *ngIf="item.lstRepresentes.length>0">
                      <td><b>Representante: </b></td>
                      <td colspan="4">
                       <div class="table-responsive">
                         <table class="table table-sm">
                             <thead>
                                 <tr>
                                     <th scope="col" style="border-top: 0px;">N°</th>
                                     <th scope="col" style="border-top: 0px;">(Número) Nombres/Razón social</th>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr *ngFor="let itemRep of item.lstRepresentes let row1 = index">
                                     <th >{{row1 + 1}}</th>
                                     <td style="text-align: left;"><b>({{itemRep.vcDocumento}})</b>  {{itemRep.vcPersona}}</td>
                                 </tr>
                             </tbody>
                         </table>
                     </div>
                      </td>
                     </tr>
              </tbody>
            </table>

            <table class="table table-hover" id="job-table" *ngIf="objDetalleExpediente?.objDatoExpediente?.vcFechaConclusion!=null || objDetalleExpediente?.objDatoExpediente?.vcFechaConclusion!=''">
              <thead>
                <tr>
                  <th scope="col" colspan="4" style="color: beige; background-color: #65BD42; width: 100%;">Conclusión del expediente</th>
                </tr>
              </thead>
              <tbody class="tableBody">
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Fecha de conclusión:</td>
                      <td >{{objDetalleExpediente?.objDatoExpediente?.vcFechaConclusion}}</td>
                      <td class="font-weight-bold" style="text-align: left !important;">Nro. de Resolución:</td>
                      <td>{{objDetalleExpediente?.objDatoExpediente?.vcNroResolucion}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Tipo de forma de conclusión:</td>
                      <td colspan="3">{{objDetalleExpediente?.objDatoExpediente?.vcTipoFormaConclusion}}</td>

                    </tr>

                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Forma de conclusión:</td>
                      <td colspan="3">{{objDetalleExpediente?.objDatoExpediente?.vcFormaConclusion}}</td>
                    </tr>


              </tbody>
            </table>

          </div>
        </tab>
      </tabset>
    </div>
  </div>
</ng-template>


<!-- <ng-template #_modalEstadistica  let-close="close" data-keyboard="false" data-backdrop="static">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Estadística</h4>
  </div>
  <div class="modal-body" style="text-align: center;">
    <div class="row">
      <div class="col-sm-12" style="text-align: center;">
        <google-chart #chart
        [title]="title"
        type="PieChart"
        [data]="data"
        [columnNames]="columnNames"
        [options]="options">
         </google-chart>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12" style="text-align: center;">
        <button type="button" class="btn btn-light" (click)="getLstPerRenovacion(vcTitular)"
        style="font-size: 12px;"
        *ngIf="lstEnPerRenovacion.length==0 && nuEnPeriodoRenovacion!=0"
        >Cargar en plazo de renovación</button>
        <button type="button" class="btn btn-light" (click)="getDescargarEnPlazoRenovacion(lstEnPerRenovacion, title)"
        style="font-size: 12px; width: 100%; color:#198754"
        *ngIf="lstEnPerRenovacion.length!=0"
        ><span><i class="fa fa-file-excel-o" aria-hidden="true"></i></span> Exportar</button>
      </div>
    </div>
    <div class="row" *ngIf="lstEnPerRenovacion.length!=0">
      <div class="col-sm-12" style="text-align: center;">
    <div class="table-responsive">
      <table class="table table-bordered table-sm" style="font-size: 9px;">
        <thead>
          <tr class="font-mb">
            <th scope="col">Nro. Certificado</th>
            <th scope="col">Año de registro</th>
            <th scope="col">Tipo de solicitud</th>
            <th scope="col">Fecha de expiración</th>
            <th scope="col">Denominación</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of lstEnPerRenovacion  | paginate: { itemsPerPage: 5, currentPage: _pagina_renovacion, id: 'en_renovacion'}; let row = index" >

          <tr  class="row-hover">
            <td>{{item.vcNroCertificado}}</td>
            <td>{{item.nuAnioRegistro}}</td>
            <td>{{item.vcTipoSolicitud}}</td>
            <td>{{item.vcFechaExpiracion}}</td>
            <td>{{item.vcDenominacion}}</td>
          </tr>
        </tbody>
      </table>
      <pagination-controls
      [responsive]="true"
      previousLabel="Atras"
      nextLabel="Siguiente"
      (pageChange)="_pagina_renovacion = $event"
      id="en_renovacion"
      style="font-size: 12px;"
      >
    </pagination-controls>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12" style="text-align: right;">
    <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
  </div>
</div>
</div>

</ng-template> -->


