<br>
<p-toast position="top-right"></p-toast>

<div class="container">
  <div class="row justify-content-around">
    <div class="ctn-steps step0  col-md-9">
      <div class="container">

        <div class="card mb-3" style="border: 0px;" >
          <div class="row no-gutters">
            <div class="col-md-1">
              <img src="./assets/images/con_certificado_icon.svg" class="card-img" style="width: 80px;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Consulta por Número de Certificado</h5>
                <p class="card-text">Realice la búsqueda por número de certificado.</p>
              </div>
            </div>
          </div>
        </div>
        <form [formGroup]="filtersForm">
        <label for="basic-url"><b>Ingrese N° de Certificado</b><app-tooltip popDescripcion="Lo brinda la DSD">
        </app-tooltip></label>
        <div class="input-group mb-3">
          <input type="text" class="input_style" id="basic-url" aria-describedby="basic-addon3" formControlName="vcNroCertificado" maxlength="9">
        </div>

        <label for="basic-url"><b>Tipo de Certificado (Opcional)</b><app-tooltip popDescripcion="Lo brinda la DSD">
        </app-tooltip></label>

        <div class="input-group mb-3">
          <select class="input_style" formControlName="vcTipoSolicitud">
            <option value="-1">Seleccione tipo de certificado</option>
            <option *ngFor="let item of lstTipoSolicitud" [value]="item.vcCodigoSolicitud">
              {{item.vcDescSolicitud}}</option>
          </select>
        </div>
        <div class="row">
          <div class="col-sm-12">
           <re-captcha
           (resolved)="resolved($event)"
           (error)="onError($event)"
           errorMode="handled"
           size="invisible"
         ></re-captcha>
          </div>
        </div>
        </form>

        <div class="row">
          <div class="col-sm text-center">
            <button type="submit" class="btn btn-success font-mb" (click)="doBuscarCertificado()"><span
                style="margin-right: 5px;"><i class="fa fa-search"></i></span>Buscar</button>
            <button type="submit" class="btn btn-secondary font-mb ml-1" (click)="doLimpiar()" ><span
                style="margin-right: 5px;"><i class="fa fa-refresh" ></i></span>Limpiar</button>
          </div>
        </div>
        <br>
        <div *ngIf="objCertificados!=null">
        <div class="row" style="margin-bottom: 15px;">
          <div class="col-sm-12">
          <p-panel header="Marca y Estado del Certificado">
            <div class="row" >
            <div class="col-sm-9" style="font-size: 14px;">
              <img *ngIf="objCertificados?.vcLogo!='-1'" [src]="objCertificados?.vcLogo" style="max-width: 150px; max-height: 150px;" />
              <br *ngIf="objCertificados?.vcLogo!='-1'">
              <b>Clase(s):</b> {{objCertificados?.vcClases}}<br>
              <b>Tipo de Solicitud:</b> {{objCertificados?.vcTipoSolicitud}}<br>
              <b>Tipo de Signo: </b> {{objCertificados?.vcTipoSigno}}<br>
              <b *ngIf="objCertificados?.vcIdTipoSolicitud!='03'">Denominación:</b>
              <b *ngIf="objCertificados?.vcIdTipoSolicitud=='03'">Palabra o Frase:</b>
              {{objCertificados?.vcDenominacion}}<br>
             </div>
             <div class="col-sm-3">
              <div class="row">
                <div class="col-sm-12" style="text-align: center;">
                  <img *ngIf="objCertificados?.vcEstado=='1'" src="./assets/status/status_1.svg"  width="80"/>
                  <img *ngIf="objCertificados?.vcEstado=='2'" src="./assets/status/status_2.svg"  width="80"/>
                  <img *ngIf="objCertificados?.vcEstado=='3'" src="./assets/status/status_3.svg"  width="80"/>
                  <img *ngIf="objCertificados?.vcEstado=='4'" src="./assets/status/status_4.svg"  width="80"/>
                  <img *ngIf="objCertificados?.vcEstado=='5'" src="./assets/status/status_5.svg"  width="80"/>
                  <img *ngIf="objCertificados?.vcEstado=='6'" src="./assets/status/status_6.svg"  width="80"/>
                  <span *ngIf="objCertificados?.vcEstado=='1'" placement="auto" class="toopltip_1" popover="Certificado Vigente" triggers="mouseenter:mouseleave"></span>
                  <span *ngIf="objCertificados?.vcEstado=='2'" placement="auto" class="toopltip_1" popover="Certificado Cancelado" triggers="mouseenter:mouseleave"></span>
                  <span *ngIf="objCertificados?.vcEstado=='3'" placement="auto" class="toopltip_1" popover="Certificado con clase Cancelada" triggers="mouseenter:mouseleave"></span>
                  <span *ngIf="objCertificados?.vcEstado=='4'" placement="auto" class="toopltip_1" popover="Certificado renunciado" triggers="mouseenter:mouseleave"></span>
                  <span *ngIf="objCertificados?.vcEstado=='5'" placement="auto" class="toopltip_1" popover="Certificado caducado" triggers="mouseenter:mouseleave"></span>
                  <span *ngIf="objCertificados?.vcEstado=='6'" placement="auto" class="toopltip_1" popover="Certificado anulado" triggers="mouseenter:mouseleave"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12" style="text-align: center; font-size: 10px;">
                  <b>Certificado {{objCertificados?.vcNroCertificado}}</b>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12" style="text-align: left; font-size: 10px;">
                  <b><div [innerHTML]="objCertificados?.vcDescEstado"></div></b>
                </div>
              </div>
              <div class="row" *ngIf="objCertificados?.vcCertOrigenDiv!=null || objCertificados?.vcCertOrigenDiv!='' ">
                <div class="col-sm-12" style="text-align: left; font-size: 10px;">

                  <b><div [innerHTML]="objCertificados?.vcCertOrigenDiv"></div></b>
                </div>
              </div>
              <div class="row" *ngIf="objCertificados?.vcCertRelDiv!=null || objCertificados?.vcCertRelDiv!='' ">
                <div class="col-sm-12" style="text-align: left; font-size: 10px;">

                  <b><div [innerHTML]="objCertificados?.vcCertRelDiv"></div></b>
                </div>
              </div>
            </div>
          </div>
          </p-panel>
          </div>
        </div>

        <div class="row" style="margin-bottom: 15px;">
          <div class="col-sm-12">
            <p-panel header="Titular(es)">
              <div [innerHTML]="objCertificados?.listTitulares"></div>
          </p-panel>
          </div>
        </div>

        <div class="row" style="margin-bottom: 15px;">
          <div class="col-sm-12">
            <p-panel header="Expedientes relacionados al certificado">
              <p-progressBar *ngIf="blLoadinExpReal" mode="indeterminate" [style]="{'height': '6px'}" [ngClass]="'customProgress'"></p-progressBar>
              <div class="table-responsive"  *ngIf="!blLoadinExpReal">
                <table class="table">
                  <thead>
                    <tr class="font-mb">
                      <th scope="col" style="min-width: 160px;">Número de expediente</th>
                      <th scope="col">Tipo de procedimiento</th>
                      <th scope="col">Fecha de presentación</th>
                      <th scope="col">Clase</th>
                      <th scope="col">Estado</th>
                    </tr>
                  </thead>
                  <tbody
                  *ngFor="let item of lstExpediente |  paginate : { itemsPerPage: 10, currentPage: paginaActual };  let row = index " >
                    <tr class="row-hover">
                      <td>
                          <button type="button" class="btn btn-outline-default waves-effect" style="color: #65bd42; font-weight: 500;" (click)="doBuscarExpedienteDetalle(item)">
                            <i class="fas fa-search pr-2" aria-hidden="true"></i>
                            <span style="text-decoration-line: underline;">{{item.vcIdExpediente}}-{{item.nuAnioExpediente}}</span>
                          </button>
                    </td>
                      <td>{{item.vcProcedimiento}}</td>
                      <td>{{item.vcFechaPresentacion}}</td>
                      <td>{{item.vcClase}}</td>
                      <td style="padding: 0px;">
                        <div style="text-align: center;">
                          <ng-template style="text-align: center;" #popTemplate>
                            <img  [src]="item.vcLogoEstado"  width="250" />
                          </ng-template>
                          <div class="media border p-3 flex-column flex-md-row" style="border: 0px solid #000 !important; padding: 0px !important;">
                            <div style="text-align: center !important;">
                              <div class="navbar-header">
                                 <a class="navbar-brand">
                                 <img  [src]="item.vcLogoHito" class="img-responsive" style="width: 60px; margin-left: 15px;" />
                                 </a>
                                 <div style="font-size: 10px;">{{item.vcDescEstado}}</div>
                                 <div style="font-size: 10px;" *ngIf="item.vcSentidoResolucion!='vacio'">{{item.vcSentidoResolucion}}</div>
                                 <div style="font-size: 10px;" *ngIf="item.vcLink!='vacio'"> <a [href]="item.vcLink" target="_blank"><span class="material-icons">
                                  link
                                  </span></a></div>
                                 <div style="font-size: 10px;" *ngIf="item.vcFechaPublicacion!='vacio'">{{item.vcFechaPublicacion}}</div>
                                 <div style="font-size: 10px;" *ngIf="item.lstResolucion.length!=0"><span class="material-icons" (click)="doAbrirResolucion(item.lstResolucion)">
                                  description
                                  </span></div>
                               </div>
                            </div>
                            <div class="media-body align-self-center">
                            <!-- <span placement="auto" class="toopltip" [popover]="popTemplate" triggers="mouseenter:mouseleave" popoverTitle="ESTADO"></span> -->
                            <span placement="auto" class="toopltip" [popover]="popTemplate" triggers="mouseenter:mouseleave"  popoverTitle="ESTADO"></span>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <pagination-controls
                [responsive]="true"
                previousLabel="Atras"
                nextLabel="Siguiente"
                (pageChange)="paginaActual = $event">
              </pagination-controls>
              </div>
          </p-panel>
          </div>
        </div>
         </div>
        </div>
      </div>
    </div>
  </div>

<p-dialog header="Búsqueda por certificado" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '70vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="false">
    <p *ngIf="lstCertificados.length==1">Se encontraró 1 certificado para los parametros de búsqueda <button pButton pRipple type="button" style="height: 25px;" class="p-button-rounded p-button-secondary p-button-sm">{{filtersForm.value.vcNroCertificado}}</button></p>
    <p *ngIf="lstCertificados.length>1">Se encontraron {{lstCertificados.length}} certificados para los parametros de búsqueda <button pButton pRipple type="button" style="height: 25px;" class="p-button-rounded p-button-secondary p-button-sm">{{filtersForm.value.vcNroCertificado}}</button></p>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr class="font-mb">
            <th scope="col">Nro. de Certificado</th>
            <th scope="col">Marca</th>
            <th scope="col">Tipo de Signo</th>
            <th scope="col">Clases</th>
            <th scope="col">Titulares</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of lstCertificados; let row = index" id="{{row}}">
          <tr class="row-hover">
            <td>
              <span class="span_search_cert">
                <button type="button" class="btn btn-outline-default waves-effect" style="color: #65bd42;  font-weight: 500;" (click)="doSeleccionado(item)">
                  <i class="fas fa-search pr-2" aria-hidden="true"></i>
                  <span style="text-decoration-line: underline;">{{item.vcNroCertificado}}</span>
                </button>
            </span>
          </td>
            <td>{{item.vcDenominacion}}</td>
            <td>{{item.vcTipoSigno}}</td>
            <td>{{item.vcClases}}</td>
            <td>{{item.vcTitulares}}</td>
          </tr>
        </tbody>
      </table>
    </div>

        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="displayMaximizable=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog>

<ng-template #_templateModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Detalle del expediente</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <tabset #staticTabs>
        <tab heading="Seguimiento.">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr class="font-mb">
                  <th>#</th>
                  <th>Fecha</th>
                  <th>Seguimiento</th>
                </tr>
              </thead>
              <tbody *ngFor="let item of objDetalleExpediente?.lstSeguimiento  let row = index " >
                <tr  class="row-hover">
                  <th>{{row + 1}}</th>
                  <td>{{item.vcFechaSeguimiento}}</td>
                  <td>{{item.vcSeguimiento}}
                    <app-tooltip *ngIf="item.vcInformativo!=null" [popDescripcion]="item.vcInformativo">
                    </app-tooltip>
                   </td>
                </tr>
              </tbody>
            </table>

          </div>
        </tab>
        <tab heading="Datos solicitud y registro.">
          <div class="table-responsive">
            <table class="table table-hover" id="job-table">
              <thead>
                <tr>
                  <th scope="col" colspan="4" style="color: beige; background-color: #65BD42;">Expediente Nro: {{objDetalleExpediente?.objDatoExpediente?.vcIdExpediente}} - {{objDetalleExpediente?.objDatoExpediente?.nuAnioExpediente}}</th>
                </tr>
              </thead>
              <tbody class="tableBody">
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Tipo de Expediente:</td>
                      <td >{{objDetalleExpediente?.objDatoExpediente?.vcIdTipoExpediente}}</td>
                      <td></td>
                      <td class="font-weight-bold"></td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Fecha de presentación:</td>
                      <td>{{objDetalleExpediente?.objDatoExpediente?.vcFechPresentacion}}</td>
                      <td class="font-weight-bold" style="text-align: left !important;">Hora de presentación:</td>
                      <td >{{objDetalleExpediente?.objDatoExpediente?.vcHoraPresentacion}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Lugar de presentación:</td>
                      <td>{{objDetalleExpediente?.objDatoExpediente?.vcLugar}}</td>
                      <td></td>
                      <td class="font-weight-bold"></td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Procedimiento:</td>
                      <td>{{objDetalleExpediente?.objDatoExpediente?.vcProd}}</td>
                      <td></td>
                      <td class="font-weight-bold"></td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Publicado en Gaceta:</td>
                      <td>{{objDetalleExpediente?.objDatoExpediente?.vcFechaPublicacion}}</td>
                      <td></td>
                      <td class="font-weight-bold"></td>
                    </tr>

              </tbody>
            </table>

            <table class="table table-hover" id="job-table">
              <thead>
                <tr>
                  <th scope="col" colspan="4" style="color: beige; background-color: #65BD42; width: 100%;">Datos de la Marca</th>
                </tr>
              </thead>
              <tbody class="tableBody">
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Tipo de solicitud:</td>
                      <td colspan="3" >{{objDetalleExpediente?.objDatoExpediente?.vcTipoSolicitud}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Fecha de solicitud:</td>
                      <td>{{objDetalleExpediente?.objDatoExpediente?.vcFechaSolicitud}}</td>
                      <td class="font-weight-bold" style="text-align: left !important;">Fecha de registro:</td>
                      <td >{{objDetalleExpediente?.objDatoExpediente?.vcFechaRegistro}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Nro. de Certificado:</td>
                      <td>{{objDetalleExpediente?.objDatoExpediente?.vcNroCertificado}}</td>
                      <td class="font-weight-bold" style="text-align: left !important;">Fecha de publicación:</td>
                      <td>{{objDetalleExpediente?.objDatoExpediente?.vcFechaPublicacion}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Fecha de vencimiento:</td>
                      <td colspan="3">{{objDetalleExpediente?.objDatoExpediente?.vcFechaVencimiento}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Tipo de presentación:</td>
                      <td colspan="3">{{objDetalleExpediente?.objDatoExpediente?.vcTipoPresentacion}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Nro. de clase:</td>
                      <td colspan="3">{{objDetalleExpediente?.objDatoExpediente?.vcClaseNiza}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Nro. de clase:</td>
                      <td colspan="3">{{objDetalleExpediente?.objDatoExpediente?.vcClaseNiza}}</td>
                    </tr>

                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Denominacion:</td>
                      <td colspan="3">{{objDetalleExpediente?.objDatoExpediente?.vcDenominacion}}</td>
                    </tr>

              </tbody>
            </table>

            <table class="table table-hover" id="job-table">
              <thead>
                <tr>
                  <th scope="col" colspan="6" style="color: beige; background-color: #65BD42; width: 100%;">Personas Juridicas/Naturales</th>
                </tr>
                <tr>
                  <th scope="col" >Tipo de persona</th>
                  <th scope="col" >Titular / Representante Legal</th>
                  <th scope="col"  >Tipo de documento</th>
                  <th scope="col"  >RUC / DNI / LE</th>
                  <!-- <th scope="col"  >Personas Juridicas/Naturales</th> -->
                  <th scope="col" >Domicilio procesal </th>
                  <!-- <th scope="col"  style="color: beige; background-color: #65BD42; width: 100%;">País, Dep., Prov, Dis.</th> -->
                </tr>
              </thead>
              <tbody class="tableBody" *ngFor="let item of objDetalleExpediente?.lstTitulares  let row = index " >
                    <tr>
                      <td>{{item.vcTipoPersona}}</td>
                      <td>{{item.vcPersona}}</td>
                      <td>{{item.vcTipoDocumento}}</td>
                      <!-- <td>{{item.vcDocumento}}</td> -->
                      <td>{{item.vcDomicilioProcesal}}</td>
                      <!-- <td>{{item.}}</td> -->
                    </tr>
              </tbody>
            </table>

            <table class="table table-hover" id="job-table">
              <thead>
                <tr>
                  <th scope="col" colspan="4" style="color: beige; background-color: #65BD42; width: 100%;">Conclusión del expediente</th>
                </tr>
              </thead>
              <tbody class="tableBody">
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Fecha de conclusión:</td>
                      <td >{{objDetalleExpediente?.objDatoExpediente?.vcFechaConclusion}}</td>
                      <td class="font-weight-bold" style="text-align: left !important;">Nro. de Resolución:</td>
                      <td>{{objDetalleExpediente?.objDatoExpediente?.vcNroResolucion}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Tipo de forma de conclusión:</td>
                      <td colspan="3">{{objDetalleExpediente?.objDatoExpediente?.vcTipoFormaConclusion}}</td>

                    </tr>

                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Forma de conclusión:</td>
                      <td colspan="3">{{objDetalleExpediente?.objDatoExpediente?.vcFormaConclusion}}</td>
                    </tr>


              </tbody>
            </table>

          </div>
        </tab>
      </tabset>
    </div>
  </div>
</ng-template>

<ng-template #_templateResolModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Resoluciones</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr class="font-mb">
            <th scope="col">#</th>
            <th scope="col" >Resolución</th>
            <th scope="col">Materia</th>
            <th scope="col">Documento</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of lstResolucion;  let row = index " >
          <td>{{row + 1}}</td>
          <td style="font-size: 12px; font-weight: 800;">{{item.vcNroResol}} - {{item.vcAnioResol}}</td>
          <td style="font-size: 12px;">{{item.vcMateria}}</td>
          <td style="text-align: center;"><a [href]="item.vcLinkDescarga"><span class="material-icons">
            cloud_download
            </span></a></td>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
