<br>
<div class="container">
  <div class="row justify-content-around">
    <div class="ctn-steps step0  col-md-9">
      <div class="container">
        <div class="card mb-3" style="border: 0px;" >
          <div class="row no-gutters">
            <div class="col-md-1">
              <img src="./assets/images/con_expediente_icon.svg" class="card-img" style="width: 80px;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Consulta por Número de Expediente</h5>
                <p class="card-text">Realice la búsqueda por número de Expediente.</p>
              </div>
            </div>
          </div>
        </div>


        <form  [formGroup]="filtersForm" >
          <div class="row" >
            <div class="col-sm-12" >

              <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="card p-3  py-4"  style="border: 0px;">
                      <label for="basic-url"><b>Ingrese N° de Expediente</b>
                      <!-- <app-tooltip popDescripcion="Lo brinda la DSD">
                      </app-tooltip> -->
                    </label>
                        <div class="row g-9 mt-2">
                            <div class="col-md-6 p-0">
                                <input maxlength="7" id="input_auto_complete" type="text" class="input_style" placeholder="Número del expediente" formControlName="vcNroExpediente"
                                (keypress)="doValidacionInputDoc($event);" #myInput1>
                            </div>
                            <div class="col-md-3 p-0">
                              <input type="text" (keyup)="searchOnKeyUp($event)" (keypress)="onlyPhoneNumber($event)" list="SearchResults" class="input_style" placeholder="Año(Opcional)" maxlength="4"
                              formControlName="nuAnioExpediente" #myInput2/>
                              <datalist id="SearchResults" class="input_style"  style="content: '\f073';">
                                <option *ngFor="let item of lstAnios" [value]="item.id">{{item.id}}</option>
                              </datalist>
                            </div>
                            <div class="col-md-3">
                                <button (click)="doBuscarExpediente()"  class="btn btn-success btn-block"><span><i class="fa fa-search"></i></span> Buscar</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            </div>

           </div>

           <div class="row">
             <div class="col-sm-12">
              <re-captcha
              (resolved)="resolved($event)"
              (error)="onError($event)"
              errorMode="handled"
              size="invisible"
            ></re-captcha>
             </div>
           </div>
          </form>

          <div class="table-responsive" *ngIf="lstExpediente.length>0">
            <table class="table">
              <thead>
                <tr class="font-mb">
                  <th scope="col">Marca</th>
                  <th scope="col" style="min-width: 160px;">Número de expediente</th>
                  <th scope="col">Tipo de procedimiento</th>
                  <th scope="col">Fecha de presentación</th>
                  <th scope="col">Clase</th>
                  <th scope="col">Estado</th>
                </tr>
              </thead>
              <tbody
              *ngFor="let item of lstExpediente |  paginate : { itemsPerPage: 10, currentPage: paginaActual };  let row = index " >
                <tr class="row-hover">
                  <td>{{item.vcMarca}}</td>
                  <td>
                  <button type="button" class="btn btn-outline-default waves-effect" style="color: #65bd42; font-weight: 500;"
                    (click)="doBuscarExpedienteDetalle(item)"
                    tooltip="Detalle del Expediente"

                    >
                    <i class="fas fa-search pr-2" aria-hidden="true"></i>
                    <span style="text-decoration-line: underline;">{{item.vcIdExpediente}}-{{item.nuAnioExpediente}}</span>
                  </button>
                </td>
                  <td>{{item.vcProcedimiento}}</td>
                  <td>{{item.vcFechaPresentacion}}</td>
                  <td>{{item.vcClase}}</td>
                  <td style="padding: 0px;">
                    <div style="text-align: center;">
                      <ng-template style="text-align: center;" #popTemplate>
                        <img  [src]="item.vcLogoEstado"  width="250" />
                      </ng-template>
                      <div class="media border p-3 flex-column flex-md-row" style="border: 0px solid #000 !important; padding: 0px !important;">
                        <div style="text-align: center !important;">
                          <div class="navbar-header">
                             <a class="navbar-brand">
                             <img *ngIf="item.vcLogoHito!='' && item.vcLogoHito!=null"  [src]="item.vcLogoHito" class="img-responsive" style="width: 60px; margin-left: 15px;" />
                             <img *ngIf="item.vcLogoHito=='' || item.vcLogoHito==null"  src="./assets/status/status_no_definido.svg" class="img-responsive" style="width: 60px; margin-left: 15px;" />
                             </a>
                             <div style="font-size: 10px;">{{item.vcDescEstado}}</div>
                             <div style="font-size: 10px;" *ngIf="item.vcSentidoResolucion!='vacio'">{{item.vcSentidoResolucion}}</div>
                             <div style="font-size: 10px;" *ngIf="item.vcLink!='vacio'"> <a [href]="item.vcLink" target="_blank"><span class="material-icons"
                              tooltip="Ingresar al enlace">
                              link
                              </span></a></div>
                             <div style="font-size: 10px;" *ngIf="item.vcFechaPublicacion!='vacio'">{{item.vcFechaPublicacion}}</div>
                             <div style="font-size: 10px;" *ngIf="item.lstResolucion.length!=0">
                              <!-- <span class="material-icons" (click)="doAbrirResolucion(item.lstResolucion)">
                              description
                              </span> -->
                              <button (click)="doAbrirResolucion(item.lstResolucion)"  class="btn btn-primary btn-block" style="font-size: 10px"><span><i class="fa fa-file-text"></i></span> Resolución(es)</button>
                            </div>
                           </div>
                        </div>
                        <div class="media-body align-self-center">
                        <span *ngIf="item.vcLogoHito!='' && item.vcLogoHito!=null" placement="auto" class="toopltip" [popover]="popTemplate"  popoverTitle="ESTADO"></span>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls
            [responsive]="true"
            previousLabel="Atras"
            nextLabel="Siguiente"
            (pageChange)="paginaActual = $event">
          </pagination-controls>
          </div>

      </div>
    </div>
  </div>
</div>

<ng-template #_templateModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Detalle del expediente</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <tabset #staticTabs>
        <tab heading="Seguimientos del procedimiento">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr class="font-mb">
                  <th>#</th>
                  <th>Fecha</th>
                  <th>Seguimiento</th>
                </tr>
              </thead>
              <tbody *ngFor="let item of objDetalleExpediente?.lstSeguimiento  let row = index " >
                <tr  class="row-hover">
                  <th>{{row + 1}}</th>
                  <td>{{item.vcFechaSeguimiento}}</td>
                  <td>{{item.vcSeguimiento}}
                    <app-tooltip *ngIf="item.vcInformativo!=null" [popDescripcion]="item.vcInformativo">
                    </app-tooltip>
                   </td>
                </tr>
              </tbody>
            </table>

          </div>
        </tab>
        <tab heading="Datos solicitud y registro">
          <div class="table-responsive">
            <table class="table table-hover" id="job-table">
              <thead>
                <tr>
                  <th scope="col" colspan="4" style="color: beige; background-color: #65BD42;">Expediente Nro: {{objDetalleExpediente?.objDatoExpediente?.vcIdExpediente}} - {{objDetalleExpediente?.objDatoExpediente?.nuAnioExpediente}}</th>
                </tr>
              </thead>
              <tbody class="tableBody">
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Tipo de Expediente:</td>
                      <td >{{objDetalleExpediente?.objDatoExpediente?.vcIdTipoExpediente}}</td>
                      <td></td>
                      <td class="font-weight-bold"></td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Fecha de presentación:</td>
                      <td>{{objDetalleExpediente?.objDatoExpediente?.vcFechPresentacion}}</td>
                      <td class="font-weight-bold" style="text-align: left !important;">Hora de presentación:</td>
                      <td >{{objDetalleExpediente?.objDatoExpediente?.vcHoraPresentacion}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Lugar de presentación:</td>
                      <td>{{objDetalleExpediente?.objDatoExpediente?.vcLugar}}</td>
                      <td></td>
                      <td class="font-weight-bold"></td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Procedimiento:</td>
                      <td>{{objDetalleExpediente?.objDatoExpediente?.vcProd}}</td>
                      <td></td>
                      <td class="font-weight-bold"></td>
                    </tr>
                    <tr *ngIf="objDetalleExpediente?.objDatoExpediente?.vcIdTipExpediente=='01'">
                      <td class="font-weight-bold" style="text-align: left !important;">
                        <div *ngIf="objDetalleExpediente?.objDatoExpediente?.vcFechaPublicacion!=null && objDetalleExpediente?.objDatoExpediente?.vcFechaPublicacion!=' '">Publicado en Gaceta:</div>

                      </td>
                      <td>{{objDetalleExpediente?.objDatoExpediente?.vcFechaPublicacion}}</td>
                      <td></td>
                      <td class="font-weight-bold"></td>
                    </tr>

                    <tr *ngIf="objDetalleExpediente?.objDatoExpediente?.vcIdTipExpediente=='03'">
                      <td class="font-weight-bold" style="text-align: left !important;">Tipo de acto</td>
                      <td>{{objDetalleExpediente?.objDatoExpediente?.vcTipoActo}}</td>
                      <td></td>
                      <td class="font-weight-bold"></td>
                    </tr>

              </tbody>
            </table>

            <table class="table table-hover" id="job-table">
              <thead>
                <tr>
                  <th scope="col" colspan="4" style="color: beige; background-color: #65BD42; width: 100%;">Datos de la Marca</th>
                </tr>
              </thead>
              <tbody class="tableBody">
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Tipo de solicitud:</td>
                      <td colspan="3" >{{objDetalleExpediente?.objDatoExpediente?.vcTipoSolicitud}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Fecha de solicitud:</td>
                      <td>{{objDetalleExpediente?.objDatoExpediente?.vcFechaSolicitud}}</td>
                      <td class="font-weight-bold" style="text-align: left !important;">Fecha de registro:</td>
                      <td >{{objDetalleExpediente?.objDatoExpediente?.vcFechaRegistro}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Nro. de Certificado:</td>
                      <td>{{objDetalleExpediente?.objDatoExpediente?.vcNroCertificado}}</td>

                      <td class="font-weight-bold" style="text-align: left !important;"
                      *ngIf="objDetalleExpediente?.objDatoExpediente?.vcIdTipExpediente=='01'" >
                     <div *ngIf="objDetalleExpediente?.objDatoExpediente?.vcFechaPublicacion!=' ' && objDetalleExpediente?.objDatoExpediente?.vcFechaPublicacion!=null">Fecha de publicación:</div>
                    </td>
                      <td *ngIf="objDetalleExpediente?.objDatoExpediente?.vcIdTipExpediente=='01'"
                      >
                      <div>{{objDetalleExpediente?.objDatoExpediente?.vcFechaPublicacion}}</div>
                    </td>

                      <td class="font-weight-bold" style="text-align: left !important;"
                      *ngIf="objDetalleExpediente?.objDatoExpediente?.vcIdTipExpediente!='01'" ></td>
                      <td *ngIf="objDetalleExpediente?.objDatoExpediente?.vcIdTipExpediente!='01'"></td>

                    </tr>

                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Fecha de vencimiento:</td>
                      <td colspan="3">{{objDetalleExpediente?.objDatoExpediente?.vcFechaVencimiento}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Tipo de presentación:</td>
                      <td colspan="3">{{objDetalleExpediente?.objDatoExpediente?.vcTipoPresentacion}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Nro. de clase:</td>
                      <td colspan="3">{{objDetalleExpediente?.objDatoExpediente?.vcClaseNiza}}</td>
                    </tr>

                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Denominacion:</td>
                      <td colspan="3">{{objDetalleExpediente?.objDatoExpediente?.vcDenominacion}}</td>
                    </tr>

              </tbody>
            </table>

            <table class="table table-hover" id="job-table">
              <thead>
                <tr>
                  <th scope="col" colspan="6" style="color: beige; background-color: #65BD42; width: 100%;">Personas Juridicas/Naturales</th>
                </tr>
                <tr>
                  <th scope="col" >Tipo de persona</th>
                  <th scope="col" >Titular / Solicitante</th>
                  <th scope="col"  >Tipo de documento</th>
                  <th scope="col"  >RUC / DNI / LE</th>
                  <th scope="col" >Domicilio procesal </th>
                </tr>
              </thead>
              <tbody class="tableBody" *ngFor="let item of lstPersonas  let row = index " >
                    <tr>
                      <td>{{item.vcTipoPersona}}</td>
                      <td>{{item.vcPersona}}</td>
                      <td>{{item.vcTipoDocumento}}</td>
                      <td>{{item.vcDocumento}}</td>
                      <td>{{item.vcDomicilioProcesal}}</td>

                    </tr>
                    <tr *ngIf="item.lstRepresentes.length>0">
                      <td><b>Representante: </b></td>
                      <td colspan="4">
                       <div class="table-responsive">
                         <table class="table table-sm">
                             <thead>
                                 <tr>
                                     <th scope="col" style="border-top: 0px;">N°</th>
                                     <th scope="col" style="border-top: 0px;">(Número) Nombres/Razón social</th>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr *ngFor="let itemRep of item.lstRepresentes let row1 = index">
                                     <th >{{row1 + 1}}</th>
                                     <td><b>({{itemRep.vcDocumento}})</b> {{itemRep.vcPersona}}</td>
                                 </tr>
                             </tbody>
                         </table>
                     </div>
                      </td>
                     </tr>
              </tbody>
            </table>

            <table class="table table-hover" id="job-table" *ngIf="objDetalleExpediente?.objDatoExpediente?.vcFechaConclusion!=null || objDetalleExpediente?.objDatoExpediente?.vcFechaConclusion!=''">
              <thead>
                <tr>
                  <th scope="col" colspan="4" style="color: beige; background-color: #65BD42; width: 100%;">Conclusión del expediente</th>
                </tr>
              </thead>
              <tbody class="tableBody">
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Fecha de conclusión:</td>
                      <td >{{objDetalleExpediente?.objDatoExpediente?.vcFechaConclusion}}</td>
                      <td class="font-weight-bold" style="text-align: left !important;">Nro. de Resolución:</td>
                      <td>{{objDetalleExpediente?.objDatoExpediente?.vcNroResolucion}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Tipo de forma de conclusión:</td>
                      <td colspan="3">{{objDetalleExpediente?.objDatoExpediente?.vcTipoFormaConclusion}}</td>

                    </tr>

                    <tr>
                      <td class="font-weight-bold" style="text-align: left !important;">Forma de conclusión:</td>
                      <td colspan="3">{{objDetalleExpediente?.objDatoExpediente?.vcFormaConclusion}}</td>
                    </tr>


              </tbody>
            </table>

          </div>
        </tab>
      </tabset>
    </div>
  </div>
</ng-template>

<ng-template #_templateResolModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Resoluciones</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr class="font-mb">
            <th scope="col">#</th>
            <th scope="col" >Resolución</th>
            <th scope="col">Materia</th>
            <th scope="col">Documento</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of lstResolucion;  let row = index " >
          <td>{{row + 1}}</td>
          <td style="font-size: 12px; font-weight: 800;">{{item.vcNroResol}} - {{item.vcAnioResol}}</td>
          <td style="font-size: 12px;">{{item.vcMateria}}</td>
          <td style="text-align: center;"><a [href]="item.vcLinkDescarga"><span class="material-icons">
            cloud_download
            </span></a></td>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

