.boton_search{
  margin-top: 23px;
}

@media only screen and (max-width: 600px) {
  .boton_search{
    padding-top: 0px;
    text-align: center;
  }
}

.tamanio_texto{

}

@media only screen and (min-width: 768px) {
  .tamanio_texto{
    font-size: 12px;
  }
}
