<div class="container-fluid d-print-none">
  <div class="row pt-3 pb-3">
    <div class="col-sm-12">
      <div class="btn-group" dropdown>
        <button id="button-menu-dividers" dropdownToggle type="button" class="btn btn-light dropdown-toggle"
          aria-controls="dropdown-menu-dividers">
          <i class="material-icons" style="vertical-align: middle;">menu</i>
          <span class="caret"></span>
        </button>
        <ul id="dropdown-menu-dividers" *dropdownMenu class="dropdown-menu" role="menu"
        aria-labelledby="button-menu-dividers">
        <li role="menuitem" class="_link"  >
          <a class="dropdown-item" href="#"  target="_blank" >Número de Expediente</a>
        </li>
        <li role="menuitem" class="_link"  >
          <a class="dropdown-item" href="#" target="_blank" >Número de Certificado</a>
        </li>
        <li role="menuitem" class="_link"  >
          <a class="dropdown-item" href="#" target="_blank" >Video Tutorial</a>
        </li>
        <li role="menuitem" class="_link" routerLink="/preguntas-frecuentes">
          <a class="dropdown-item" href="#" target="_blank">Inicio</a>
        </li>

      </ul>
      </div>
      <img style="border-left: 1px solid #848687; padding-left: 15px;" class="ml-3" src="./assets/images/logo.png"
        draggable="false">
    </div>
  </div>
</div>
